* {
font-family: 'Poppins', sans-serif;;
}

.carousel-item img  {
    height: 36rem;
}
.btn-icon {
    background-color:rgb(54, 97, 216) ;
}
.point-text .fair {
    color: #848199;;
}
.event {
    padding-right:30px ;
}
.fa-check {
    color: #3F87F5;

}
.col-lg-3 {
   margin: 0 auto;
   margin-left: 10px;
   
}
.Happy {
    margin-bottom: 60px;
    
}
.rate {
    margin-top: 30px;
}
#card-3 {
    background-color: #3F87F5;
}
