* {
font-family: 'Poppins', sans-serif;;
}

.carousel-item img  {
    height: 36rem;
}
.btn-icon {
    background-color: rgb(54, 97, 216) ;
}
.point-text .fair {
    color: #848199;;
}
.event {
    padding-right:30px ;
}
.fa-check {
    color: rgb(109, 90, 219);

}
.col-lg-3 {
   margin: 0 auto;
   margin-left: 10px;
}
